@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="login-card">
    <h2 class="login-title">Iniciar Sesión</h2>
    <form method="post">
        <div class="mb-4">
            <label class="form-label">Usuario</label>
            <input type="text" class="form-control" asp-for="Usuario" />
        </div>
        <div class="mb-4">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" asp-for="Password" />
        </div>
        @if (!string.IsNullOrEmpty(Model.Error))
        {
            <div class="alert alert-danger mb-4">
                @Model.Error
            </div>
        }
        <button type="submit" class="btn btn-primary w-100">
            Iniciar Sesión
        </button>
    </form>
</div>